section.about-section {
  padding: 50px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background-color: $primary-color-light-beige;

  div.content-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

    h2.content-side__heading {
      margin: 10px 0;
    }
    p.content-side__paragraph {
      margin: 10px 0;
    }
    div.content-side__key-figure {
      margin: 10px 0;
      display: flex;
      flex-direction: row;
      align-content: center;
      justify-content: center;

      div.content-side__key-figure-item {
        padding: 20px;
        h3.content-side__key-figure-item__heading {
          text-align: center;
          font-size: 38px;
        }
        p.content-side__key-figure-item__paragraph {
          margin: 10px 0;
          text-align: center;
        }
      }
    }
  }
  div.content-side__image {
    margin: 10px 0;
  }
}

@media (min-width: 320px) {
  /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
}
@media (min-width: 480px) {
  /* smartphones, Android phones, landscape iPhone */
}
@media (min-width: 600px) {
  /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
}
@media (min-width: 801px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
  section.about-section {
    padding: 0 10vh;
  }
}
@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
  section.about-section {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    div.content-side {
      flex-basis: 45%;
    }
    div.content-side__image {
      flex-basis: 45%;
      align-self: center;
    }
  }
}
@media (min-width: 1281px) {
  /* hi-res laptops and desktops */
  section.about-section {
    padding: 10vh 30vh;
  }
}
