section.product-wrapper {
  padding: 0 20px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;

  div.product__image {
    margin: 35px 0;
  }

  div.product-description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    p.product-description__paragraph {
      margin: 20px 0;
    }
  }
}

@media (min-width: 320px) {
  /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
}
@media (min-width: 480px) {
  /* smartphones, Android phones, landscape iPhone */
}
@media (min-width: 600px) {
  /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
}
@media (min-width: 801px) {
  section.product-wrapper {
    padding: 10vh;
  }
  /* tablet, landscape iPad, lo-res laptops ands desktops */
}
@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
  section.product-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: center;

    div.product__image {
      flex-basis: 50%;
    }

    div.product-description {
      flex-basis: 45%;
      align-self: center;
    }
  }
}
@media (min-width: 1281px) {
  /* hi-res laptops and desktops */
}
